body {
    padding: 30px;
}

h1 {
    text-align: center;
}

table, tr {
    border-collapse: collapse;
    background-color: black;
    color: white;
    text-align: center;
    border-width: 1px;
}

td {
    padding: 20px;
}
  
